---
import RaidButton from "@/components/layout-components/raid-button.astro";

import researchIcon from "@/images/icons/research-icon.webp";
import fundingIcon from "@/images/icons/funding-icon.webp";
import organisationIcon from "@/images/icons/organisation-icon.webp";
import researchOrganisationIcon from "@/images/icons/research-organisation-icon.webp";
import researcherIcon from "@/images/icons/researcher-icon.webp";

const title = "Who should use RAiD?";

const subtitle =
  "RAiD is designed for use worldwide with project information that can be made public (temporary embargoes are supported)";

const tiles = [
  {
    title: "Research infrastructure providers",
    description:
      "Organisations that provide research infrastructure or services such as imaging, HPC, or specialised softare for researchers (and want to track outcomes from this usage)",
    icon: researchIcon.src,
  },
  {
    title: "Funders",
    description:
      "Organisations that fund research or research infrastructure (and want to track the outcomes and impact of this funding)",
    icon: fundingIcon.src,
  },
  {
    title: "Research organisations",
    description:
      "Organisations wishing to identify and track project inputs and outputs (e.g. contributors, collaborators, data sets, samples, instruments, tools, grants, events, grey literature, journal publications, and all associated PIDs)",
    icon: organisationIcon.src,
  },
  {
    title: "Researchers",
    description:
      "Researchers and research teams wishing to track and share information about their projects",
    icon: researchOrganisationIcon.src,
  },
  {
    title: "Other PID providers",
    description:
      "Other PID providers that want to integrate project PIDs or leverage proect matadata to help build research graphs",
    icon: researcherIcon.src,
  },
];
---

<div class="bg-raidGray">
  <div class="mx-auto max-w-7xl sm:px-6 lg:px-8 py-8">
    <div class="flex flex-col gap-3">
      <h1 class="text-raidTextPrimaryDarker font-semibold text-2xl">{title}</h1>
      <h2 class="text-raidTextPrimaryDarker text-base">{subtitle}</h2>
    </div>

    <div
      class="mx-auto max-w-7xl sm:px-6 lg:px-8 grid grid-cols-1 sm:grid-cols-5 gap-6 min-h-96 place-items-cente"
    >
      {
        tiles.map((el) => (
          <div class="h-full w-full sm:py-12 py-2">
            <div class="bg-raidGray flex flex-col items-center justify-start text-center gap-2 h-full">
              <img src={el.icon} class="w-36 h-auto rounded-full" alt="" />
              <h2 class="text-lg text-raidTextPrimaryDarker">{el.title}</h2>
              <p class="text-xs font-light">{el.description}</p>
            </div>
          </div>
        ))
      }
    </div>

    <div class="flex justify-center border-2 p-2">
      <RaidButton
        label="RAiD uses"
        href="https://documentation.raid.org/raid/?l=en"
      />
    </div>
  </div>
</div>
