---
import backgroundHex from "@/images/backgrounds/background-hex.jpg";

const title = `FAIR, equitable and sustainable access`;
const introText = `RAiD incorporates and facilitates FAIR (<strong>F</strong>indable, <strong>A</strong>ccessible, <strong>I</strong>nteroperable and <strong>R</strong>euseable) data principles`;
const introTextLink = `https://www.go-fair.org/fair-principles/`;
const introTextLinkText = `FAIR`;

const listItems = [
  {
    text: "RAiD is open-source and aligned with the Principles of Open Scholarly Infrastructure (POSI)",
    links: [
      {
        url: "https://openscholarlyinfrastructure.org/",
        text: "Principles of Open Scholarly Infrastructure",
      },
    ],
  },
  {
    text: `Provides a globally available project registry with human- and machine-readable project metadata, contributing to the documentation of data and other research outpus.`,
  },
];
---

<div class="bg-white py-12">
  <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
    <div class="grid sm:grid-cols-2 grid-cols-1 gap-3">
      <div class="flex flex-col gap-3">
        <h1 class="font-semibold text-2xl">
          {title}
        </h1>
        <p class="text-sm">
          <li
            set:html={introText.replace(
              introTextLinkText,
              `<a class="text-raidTextPrimary" href="${introTextLink}">${introTextLinkText}<a>`
            )}
          />
        </p>

        <ul class="list-disc text-sm pl-12">
          {
            listItems.map((item) => (
              <li
                set:html={
                  item.links
                    ? item.links.reduce(
                        (acc, link) =>
                          acc.replace(
                            link.text,
                            `<a target="_blank" class="text-raidTextPrimary" href="${link.url}">${link.text}</a>`
                          ),
                        item.text
                      )
                    : item.text
                }
              />
            ))
          }
        </ul>
      </div>
      <div class="sm:block hidden">
        <img src={backgroundHex.src} alt="" />
      </div>
    </div>
  </div>
</div>
