---
import RaidButton from "@/components/layout-components/raid-button.astro";
import faircoreBackground from "@/images/backgrounds/faircore-background.png";

const title = "FAIR RAiD aid for the FAIRCORE4EOSC project";
const subtitle =
  "RAiD is being developed to automatically prepare and submit research service applications on behalf of European researchers";
const description =
  "The FAIRCORE4EOSC project in Europe is developing an online marketplace for European researchers and collaborators to easily select multiple research services from. These services require an application that grant a researcher access to (e.g.) information stored in a supercomputer or data centre.";
const entries = [
  "Store each European project's information as RAiD project metadata",
  "Provide RAiD metadata access after a research service application has been selected from FAIRCORE4EOSC's online marketplace",
  "Simultaneously prepare and submit the selected research service applications on behalf of a researcher - via FAIRCORE4EOSC's marketplace system framework",
  "Provide automatic notification of each research service's approval to the researcher, if no other exceptions apply.",
];
const resultText =
  "The result? A researcher can receive access notifications from multiple research services within minutes, rather than waiting weeks or months for any reply.";
---

<div class="bg-white py-12">
  <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
    <div class="grid sm:grid-cols-2 grid-cols-1 gap-10">
      <div>
        <img src={faircoreBackground.src} alt="" />
      </div>
      <div class="flex flex-col gap-3">
        <h1 class="text-raidTextPrimary font-semibold text-2xl">
          {title}
        </h1>
        <p class="text-raidTextPrimary text-sm">
          {subtitle}
        </p>

        <p class="text-sm">
          {description}
        </p>
        <p class="text-sm">RAiD is being used to:</p>
        <ol class="text-sm list-decimal pl-12">
          {entries.map((entry) => <li>{entry}</li>)}
        </ol>
        <p class="text-sm">
          {resultText}
        </p>
        <RaidButton
          label="Learn more"
          href="https://documentation.raid.org/raid/?l=en"
        />
      </div>
    </div>
  </div>
</div>
