---
import raidLogoDark from "@/images/logos/raid-logo-dark.svg";
import SearchBar from "@/components/SearchBar.astro";

const baseUrl = import.meta.env.BASE_URL ? import.meta.env.BASE_URL : "";
const currentPath = Astro.url.pathname;
const isSearchPage = currentPath === `${baseUrl}/search`;

const links = [
  {
    href: `${baseUrl}/`,
    text: "Home",
  },
  {
    href: `${baseUrl}/about`,
    text: "About",
  },
  {
    href: `${baseUrl}/contact`,
    text: "Contact",
  },
  {
    href: `${baseUrl}/search`,
    text: "Search",
  },
];
---

<header
  class="inset-x-0 top-0 z-50 flex h-auto min-h-[4rem] md:h-32 shadow bg-raidPrimary text-white items-center"
>
  <div class="mx-auto w-full px-4 sm:px-6 lg:px-8">
    <div
      class="grid grid-cols-1 md:grid-cols-3 gap-4 md:gap-6 py-4 items-center"
    >
      <!-- Logo -->
      <a
        href="/raid-org-website/"
        class="justify-self-center md:justify-self-start"
      >
        <div class="flex items-center">
          <img
            src={raidLogoDark.src}
            class="h-8 sm:h-12 md:h-20 w-auto"
            alt="RAID Logo"
          />
        </div>
      </a>

      <!-- Search Bar -->
      <div class="order-3 md:order-2 w-full">
        {!isSearchPage && <SearchBar placeholder="Search..." />}
      </div>

      <!-- Navigation -->
      <nav
        class="order-2 md:order-3 flex flex-wrap justify-center md:justify-end gap-4 md:gap-x-11 text-sm font-semibold"
      >
        {
          links.map((link) => (
            <a
              href={link.href}
              class="text-white hover:text-gray-200 cursor-pointer font-extralight whitespace-nowrap"
            >
              {link.text}
            </a>
          ))
        }
      </nav>
    </div>
  </div>
</header>
