---
import raidLogoDark from "@/images/logos/raid-logo-dark.svg";
import SearchBar from "@/components/SearchBar.astro";

const baseUrl = import.meta.env.BASE_URL ? import.meta.env.BASE_URL : "";
const currentPath = Astro.url.pathname;
const isSearchPage = currentPath === `${baseUrl}/search`;

const links = [
  {
    href: `${baseUrl}/`,
    text: "Home",
  },
  {
    href: `${baseUrl}/about`,
    text: "About",
  },
  {
    href: `${baseUrl}/contact`,
    text: "Contact",
  },
  {
    href: `${baseUrl}/search`,
    text: "Search",
  },
];
---

<header
  class="inset-x-0 top-0 z-50 flex h-32 shadow bg-raidPrimary text-white items-center"
>
  <div class="mx-auto w-full items-center px-4 sm:px-6 lg:px-8 gap-6">
    <div class="grid grid-cols-3 align-middle items-center">
      <a href="/raid-org-website/">
        <div class="flex flex-1 items-center gap-x-6">
          <img src={raidLogoDark.src} class="h-10 sm:h-20 w-auto" alt="" />
        </div>
      </a>
      <div class="items-center">
        {!isSearchPage && <SearchBar placeholder="Search..." />}
      </div>

      <nav class="flex gap-x-11 text-sm font-semibold justify-end">
        {
          links.map((link) => (
            <a
              href={link.href}
              class="text-white hover:text-gray-200 cursor-pointer font-extralight"
            >
              {link.text}
            </a>
          ))
        }
      </nav>
    </div>
  </div>
</header>
